.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 2.5rem;
    color: tomato;
}
.navbar .profile{
    width: 40px;
}